@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

html, body{
	scroll-behavior: smooth;
	font-family:	Rubik, 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
	border-radius: 10px;
  background-color: #c4c4c4;
}

::-webkit-scrollbar-thumb:active{
  background-color: #c4c4c4;
}
